<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Talebot Chat" stopProcessing="true">
          <match url="^api/chat$" />
          <action type="Rewrite" url="talebot-chat.php" />
        </rule>
        <rule name="Talebot Evaluate" stopProcessing="true">
          <match url="^api/evaluate$" />
          <action type="Rewrite" url="talebot-evaluate.php" />
        </rule>
        <rule name="Talebot Speak" stopProcessing="true">
          <match url="^api/speak$" />
          <action type="Rewrite" url="talebot-speak.php" />
        </rule>
        <rule name="Talebot Config" stopProcessing="true">
          <match url="^api/config$" />
          <action type="Rewrite" url="talebot-config.php" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
